<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AccessConnection" providerName="Microsoft.Jet.OLEDB.4.0" connectionString="Data Source=C:\Work\Development\BookReviews\Import\bkreviews.mdb;User Id=admin;Password=;" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BookReviews-20130616120204;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BookReviews-20130616120204.mdf" />-->
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="mongodb://localhost/?safe=true" />
    <add key="ConnectionString2" value="mongodb://admin:R34dIngIsFun!@ds039768.mongolab.com:39768/newbookreviews" />
    <add key="DatabaseName" value="BookReviews" />
    <add key="DatabaseName2" value="newbookreviews" />
    <add key="GoogleBooksKey" value="AIzaSyC6tNBdy5IETPsPgekTEsZ76lFdrfpqm24" />
    <add key="TwitterConsumerKey" value="qBK5LHW2Zm7uQcTk0zgA" />
    <add key="TwitterConsumerSecret" value="U4fHS1gRiX4KnlM4FmE2Mpf6EK2ufVHCHhNdJrAzb4w" />
    <add key="GoodReadsApiKey" value="epWEWVGxvwNoWcI1p3CzQ" />
    <add key="GoodReadsApiSecret" value="BtyYYNnBy3DuezePuNC01CezvNB2l4TV8QzAoM7EQ4" />
    <add key="TwitterFeedScreenNames" value="harpercollins|latimesbooks|galleycat|goodreads" />    
  </appSettings>
  <system.web></system.web>
  <system.webServer></system.webServer>
</configuration>