<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="ConnectionString" value="{private}" />
  <add key="DatabaseName" value="{private}" />
  <add key="GoogleBooksKey" value="{private}" />
  <add key="TwitterConsumerKey" value="{private}" />
  <add key="TwitterConsumerSecret" value="{private}" />
  <add key="GoodReadsApiKey" value="{private}" />
  <add key="GoodReadsApiSecret" value="{private}" />
</appSettings>
